function DrawCard.draw 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 1
sub
push constant 13
call Math.divide 2
push constant 1
add
pop local 0
push argument 0
push constant 13
add
push local 0
push constant 13
call Math.multiply 2
sub
pop local 1
push local 1
push constant 235
push constant 135
call DrawCard.drawNumber 3
pop temp 0
push local 0
call DrawCard.drawColor 1
pop temp 0
push constant 0
return
function DrawCard.cleanCard 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 216
push constant 75
push constant 284
push constant 185
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function DrawCard.drawNumber 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 1
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 30
add
push argument 2
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push argument 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push argument 2
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 41
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE1
push argument 0
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push constant 15
add
push argument 2
push argument 1
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 15
add
push argument 2
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 8
add
push argument 2
push constant 21
add
push argument 1
push constant 23
add
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE2
push argument 0
push constant 2
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
push argument 2
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push argument 1
push constant 30
add
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 21
add
push argument 1
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 41
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE3
push argument 0
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
push argument 2
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push argument 1
push constant 30
add
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 41
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE4
push argument 0
push constant 4
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 1
push constant 30
add
push argument 2
push argument 1
push constant 30
add
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 21
add
push argument 1
push argument 2
call Screen.drawLine 4
pop temp 0
label IF_FALSE5
push argument 0
push constant 5
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 1
push argument 2
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 41
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE6
push argument 0
push constant 6
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push argument 1
push argument 2
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 41
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 21
add
push argument 1
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE7
push argument 0
push constant 7
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push argument 1
push constant 30
add
push argument 2
push argument 1
push constant 15
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
label IF_FALSE8
push argument 0
push constant 8
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push argument 1
push argument 2
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push argument 1
push constant 30
add
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 41
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE9
push argument 0
push constant 9
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push argument 1
push argument 2
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push argument 1
push constant 30
add
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push argument 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 21
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 41
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push argument 2
call Screen.drawLine 4
pop temp 0
label IF_FALSE10
push argument 0
push constant 10
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push argument 1
push argument 2
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 15
add
push argument 2
push argument 1
push constant 15
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE11
push argument 0
push constant 11
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push argument 1
push argument 2
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 15
add
push argument 2
push argument 1
push constant 15
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 15
add
push argument 2
push constant 41
add
push argument 1
push argument 2
push constant 30
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE12
push argument 0
push constant 12
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push argument 1
push constant 10
add
push argument 2
push argument 1
push constant 20
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 20
add
push argument 2
push argument 1
push constant 30
add
push argument 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 10
add
push argument 2
push argument 1
push argument 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 10
add
push argument 1
push argument 2
push constant 31
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 31
add
push argument 1
push constant 10
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 10
add
push argument 2
push constant 41
add
push argument 1
push constant 20
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 20
add
push argument 2
push constant 41
add
push argument 1
push constant 30
add
push argument 2
push constant 31
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 30
add
push argument 2
push constant 10
add
push argument 1
push constant 30
add
push argument 2
push constant 31
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 15
add
push argument 2
push constant 21
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE13
push argument 0
push constant 13
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push argument 1
push argument 2
push argument 1
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 21
add
push argument 1
push constant 30
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push constant 21
add
push argument 1
push constant 30
add
push argument 2
push constant 41
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE14
push constant 0
return
function DrawCard.drawColor 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 240
push constant 102
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 250
push constant 92
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 260
push constant 102
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 247
push constant 102
push constant 253
push constant 122
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push argument 0
push constant 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 250
push constant 82
push constant 250
push constant 82
call Screen.drawLine 4
pop temp 0
push constant 249
push constant 83
push constant 251
push constant 83
call Screen.drawLine 4
pop temp 0
push constant 248
push constant 84
push constant 252
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 247
push constant 85
push constant 253
push constant 85
call Screen.drawLine 4
pop temp 0
push constant 246
push constant 86
push constant 254
push constant 86
call Screen.drawLine 4
pop temp 0
push constant 245
push constant 87
push constant 255
push constant 87
call Screen.drawLine 4
pop temp 0
push constant 244
push constant 88
push constant 256
push constant 88
call Screen.drawLine 4
pop temp 0
push constant 243
push constant 89
push constant 257
push constant 89
call Screen.drawLine 4
pop temp 0
push constant 242
push constant 90
push constant 258
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 241
push constant 91
push constant 259
push constant 91
call Screen.drawLine 4
pop temp 0
push constant 240
push constant 92
push constant 260
push constant 92
call Screen.drawLine 4
pop temp 0
push constant 239
push constant 93
push constant 261
push constant 93
call Screen.drawLine 4
pop temp 0
push constant 238
push constant 94
push constant 262
push constant 94
call Screen.drawLine 4
pop temp 0
push constant 237
push constant 95
push constant 263
push constant 95
call Screen.drawLine 4
pop temp 0
push constant 236
push constant 96
push constant 264
push constant 96
call Screen.drawLine 4
pop temp 0
push constant 235
push constant 97
push constant 265
push constant 97
call Screen.drawLine 4
pop temp 0
push constant 234
push constant 98
push constant 266
push constant 98
call Screen.drawLine 4
pop temp 0
push constant 233
push constant 99
push constant 267
push constant 99
call Screen.drawLine 4
pop temp 0
push constant 232
push constant 100
push constant 268
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 231
push constant 101
push constant 269
push constant 101
call Screen.drawLine 4
pop temp 0
push constant 230
push constant 102
push constant 270
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 231
push constant 103
push constant 269
push constant 103
call Screen.drawLine 4
pop temp 0
push constant 232
push constant 104
push constant 268
push constant 104
call Screen.drawLine 4
pop temp 0
push constant 233
push constant 105
push constant 267
push constant 105
call Screen.drawLine 4
pop temp 0
push constant 234
push constant 106
push constant 266
push constant 106
call Screen.drawLine 4
pop temp 0
push constant 235
push constant 107
push constant 265
push constant 107
call Screen.drawLine 4
pop temp 0
push constant 236
push constant 108
push constant 264
push constant 108
call Screen.drawLine 4
pop temp 0
push constant 237
push constant 109
push constant 263
push constant 109
call Screen.drawLine 4
pop temp 0
push constant 238
push constant 110
push constant 262
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 239
push constant 111
push constant 261
push constant 111
call Screen.drawLine 4
pop temp 0
push constant 240
push constant 112
push constant 260
push constant 112
call Screen.drawLine 4
pop temp 0
push constant 241
push constant 113
push constant 259
push constant 113
call Screen.drawLine 4
pop temp 0
push constant 242
push constant 114
push constant 258
push constant 114
call Screen.drawLine 4
pop temp 0
push constant 243
push constant 115
push constant 257
push constant 115
call Screen.drawLine 4
pop temp 0
push constant 244
push constant 116
push constant 256
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 245
push constant 117
push constant 255
push constant 117
call Screen.drawLine 4
pop temp 0
push constant 246
push constant 118
push constant 254
push constant 118
call Screen.drawLine 4
pop temp 0
push constant 247
push constant 119
push constant 253
push constant 119
call Screen.drawLine 4
pop temp 0
push constant 248
push constant 120
push constant 252
push constant 120
call Screen.drawLine 4
pop temp 0
push constant 249
push constant 121
push constant 251
push constant 121
call Screen.drawLine 4
pop temp 0
push constant 250
push constant 122
push constant 250
push constant 122
call Screen.drawLine 4
pop temp 0
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 235
push constant 82
push constant 5
add
push constant 245
push constant 82
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 234
push constant 83
push constant 5
add
push constant 245
push constant 83
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 234
push constant 84
push constant 5
add
push constant 246
push constant 84
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 233
push constant 85
push constant 5
add
push constant 246
push constant 85
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 233
push constant 86
push constant 5
add
push constant 247
push constant 86
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 232
push constant 87
push constant 5
add
push constant 247
push constant 87
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 232
push constant 88
push constant 5
add
push constant 248
push constant 88
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 231
push constant 89
push constant 5
add
push constant 248
push constant 89
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 231
push constant 90
push constant 5
add
push constant 249
push constant 90
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 230
push constant 91
push constant 5
add
push constant 249
push constant 91
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 230
push constant 92
push constant 5
add
push constant 250
push constant 92
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 235
push constant 20
add
push constant 82
push constant 5
add
push constant 245
push constant 20
add
push constant 82
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 234
push constant 20
add
push constant 83
push constant 5
add
push constant 245
push constant 20
add
push constant 83
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 234
push constant 20
add
push constant 84
push constant 5
add
push constant 246
push constant 20
add
push constant 84
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 233
push constant 20
add
push constant 85
push constant 5
add
push constant 246
push constant 20
add
push constant 85
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 233
push constant 20
add
push constant 86
push constant 5
add
push constant 247
push constant 20
add
push constant 86
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 232
push constant 20
add
push constant 87
push constant 5
add
push constant 247
push constant 20
add
push constant 87
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 232
push constant 20
add
push constant 88
push constant 5
add
push constant 248
push constant 20
add
push constant 88
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 231
push constant 20
add
push constant 89
push constant 5
add
push constant 248
push constant 20
add
push constant 89
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 231
push constant 20
add
push constant 90
push constant 5
add
push constant 249
push constant 20
add
push constant 90
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 230
push constant 20
add
push constant 91
push constant 5
add
push constant 249
push constant 20
add
push constant 91
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 230
push constant 20
add
push constant 92
push constant 5
add
push constant 250
push constant 20
add
push constant 92
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 230
push constant 92
push constant 5
add
push constant 270
push constant 92
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 231
push constant 93
push constant 5
add
push constant 269
push constant 93
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 232
push constant 94
push constant 5
add
push constant 268
push constant 94
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 233
push constant 95
push constant 5
add
push constant 267
push constant 95
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 234
push constant 96
push constant 5
add
push constant 266
push constant 96
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 235
push constant 97
push constant 5
add
push constant 265
push constant 97
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 236
push constant 98
push constant 5
add
push constant 264
push constant 98
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 237
push constant 99
push constant 5
add
push constant 263
push constant 99
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 238
push constant 100
push constant 5
add
push constant 262
push constant 100
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 239
push constant 101
push constant 5
add
push constant 261
push constant 101
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 240
push constant 102
push constant 5
add
push constant 260
push constant 102
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 241
push constant 103
push constant 5
add
push constant 259
push constant 103
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 242
push constant 104
push constant 5
add
push constant 258
push constant 104
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 243
push constant 105
push constant 5
add
push constant 257
push constant 105
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 244
push constant 106
push constant 5
add
push constant 256
push constant 106
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 245
push constant 107
push constant 5
add
push constant 255
push constant 107
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 246
push constant 108
push constant 5
add
push constant 254
push constant 108
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 247
push constant 109
push constant 5
add
push constant 253
push constant 109
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 248
push constant 110
push constant 5
add
push constant 252
push constant 110
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 249
push constant 111
push constant 5
add
push constant 251
push constant 111
push constant 5
add
call Screen.drawLine 4
pop temp 0
push constant 250
push constant 112
push constant 5
add
push constant 250
push constant 112
push constant 5
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE2
push argument 0
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 240
push constant 112
push constant 5
sub
push constant 8
call Screen.drawCircle 3
pop temp 0
push constant 260
push constant 112
push constant 5
sub
push constant 8
call Screen.drawCircle 3
pop temp 0
push constant 230
push constant 3
add
push constant 112
push constant 5
sub
push constant 270
push constant 3
sub
push constant 112
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 231
push constant 2
add
push constant 111
push constant 5
sub
push constant 269
push constant 2
sub
push constant 111
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 232
push constant 1
add
push constant 110
push constant 5
sub
push constant 268
push constant 1
sub
push constant 110
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 233
push constant 109
push constant 5
sub
push constant 267
push constant 109
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 234
push constant 108
push constant 5
sub
push constant 266
push constant 108
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 235
push constant 107
push constant 5
sub
push constant 265
push constant 107
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 236
push constant 106
push constant 5
sub
push constant 264
push constant 106
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 237
push constant 105
push constant 5
sub
push constant 263
push constant 105
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 238
push constant 104
push constant 5
sub
push constant 262
push constant 104
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 239
push constant 103
push constant 5
sub
push constant 261
push constant 103
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 240
push constant 102
push constant 5
sub
push constant 260
push constant 102
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 241
push constant 101
push constant 5
sub
push constant 259
push constant 101
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 242
push constant 100
push constant 5
sub
push constant 258
push constant 100
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 243
push constant 99
push constant 5
sub
push constant 257
push constant 99
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 244
push constant 98
push constant 5
sub
push constant 256
push constant 98
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 245
push constant 97
push constant 5
sub
push constant 255
push constant 97
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 246
push constant 96
push constant 5
sub
push constant 254
push constant 96
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 247
push constant 95
push constant 5
sub
push constant 253
push constant 95
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 248
push constant 94
push constant 5
sub
push constant 252
push constant 94
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 249
push constant 93
push constant 5
sub
push constant 251
push constant 93
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 250
push constant 92
push constant 5
sub
push constant 250
push constant 92
push constant 5
sub
call Screen.drawLine 4
pop temp 0
push constant 247
push constant 102
push constant 5
sub
push constant 253
push constant 122
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push constant 0
return
