function Gameset.new 2
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 52
pop local 0
call Pile.new 0
pop this 0
call Pile.new 0
pop this 1
call Pile.new 0
pop this 2
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
call Random.rand 0
pop local 1
push local 1
push local 0
call Math.divide 2
pop local 1
push local 1
push constant 2
call Tool.mod 2
pop local 1
push local 1
push constant 1
eq
push this 1
call Pile.getSZ 1
push constant 26
eq
not
and
push this 0
call Pile.getSZ 1
push constant 26
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push local 0
call Pile.addCard 2
pop temp 0
goto IF_END0
label IF_FALSE0
push this 0
push local 0
call Pile.addCard 2
pop temp 0
label IF_END0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
call Pile.shufflePile 1
pop temp 0
push this 1
call Pile.shufflePile 1
pop temp 0
push pointer 0
return
function Gameset.movePile 1
push argument 0
pop pointer 0
push this 2
call Pile.getSZ 1
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 2
call Pile.getback 1
call Pile.addCard 2
pop temp 0
goto IF_END0
label IF_FALSE0
push this 1
push this 2
call Pile.getback 1
call Pile.addCard 2
pop temp 0
label IF_END0
push this 2
call Pile.popback 1
pop temp 0
push this 2
call Pile.getSZ 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Gameset.removeTopCard 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push this 0
call Pile.getback 1
call Pile.addCard 2
pop temp 0
push this 0
call Pile.popback 1
pop temp 0
goto IF_END0
label IF_FALSE0
push this 2
push this 1
call Pile.getback 1
call Pile.addCard 2
pop temp 0
push this 1
call Pile.popback 1
pop temp 0
label IF_END0
push constant 0
return
function Gameset.shuffleAll 0
push argument 0
pop pointer 0
push this 0
call Pile.shufflePile 1
pop temp 0
push this 1
call Pile.shufflePile 1
pop temp 0
push constant 0
return
function Gameset.getPile1 0
push argument 0
pop pointer 0
push this 0
return
function Gameset.getPile2 0
push argument 0
pop pointer 0
push this 1
return
function Gameset.getCommon 0
push argument 0
pop pointer 0
push this 2
return
function Gameset.drawCount 4
push argument 0
push constant 10
call Math.divide 2
pop local 0
push argument 0
push constant 10
call Tool.mod 2
pop local 1
push argument 1
push constant 10
call Math.divide 2
pop local 2
push argument 1
push constant 10
call Tool.mod 2
pop local 3
push local 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
pop local 0
label IF_FALSE0
push local 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
neg
pop local 2
label IF_FALSE1
push local 1
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
neg
pop local 1
label IF_FALSE2
push local 3
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
neg
pop local 3
label IF_FALSE3
push constant 0
call Screen.setColor 1
pop temp 0
push constant 31
push constant 87
push constant 101
push constant 128
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push constant 31
push constant 87
call DrawCard.drawNumber 3
pop temp 0
push local 1
push constant 71
push constant 87
call DrawCard.drawNumber 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 401
push constant 142
push constant 471
push constant 183
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 2
push constant 401
push constant 142
call DrawCard.drawNumber 3
pop temp 0
push local 3
push constant 441
push constant 142
call DrawCard.drawNumber 3
pop temp 0
push constant 0
return
function Gameset.drawStartScreen 0
call Screen.clearScreen 0
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 4
add
call DrawTool.drawH 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 6
add
call DrawTool.drawE 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 8
add
call DrawTool.drawA 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 10
add
call DrawTool.drawR 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 12
add
call DrawTool.drawT 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 18
add
call DrawTool.drawA 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 20
add
call DrawTool.drawT 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 22
add
call DrawTool.drawT 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 24
add
call DrawTool.drawA 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 26
add
call DrawTool.drawC 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 28
add
call DrawTool.drawK 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 0
add
call DrawTool.drawD 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 2
add
call DrawTool.drawE 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 4
add
call DrawTool.drawV 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 6
add
call DrawTool.drawE 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 8
add
call DrawTool.drawL 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 10
add
call DrawTool.drawO 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 12
add
call DrawTool.drawP 1
pop temp 0
push constant 240
push constant 225
push constant 2
call Screen.drawCircle 3
pop temp 0
push constant 240
push constant 235
push constant 2
call Screen.drawCircle 3
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 16
add
call DrawTool.drawW 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 18
add
call DrawTool.drawU 1
pop temp 0
push constant 335
push constant 240
push constant 330
push constant 245
call Screen.drawLine 4
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 22
add
call DrawTool.drawH 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 24
add
call DrawTool.drawS 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 26
add
call DrawTool.drawI 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 28
add
call DrawTool.drawA 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 30
add
call DrawTool.drawO 1
pop temp 0
push constant 250
push constant 100
push constant 200
push constant 75
call Screen.drawLine 4
pop temp 0
push constant 250
push constant 100
push constant 300
push constant 75
call Screen.drawLine 4
pop temp 0
push constant 200
push constant 75
push constant 150
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 300
push constant 75
push constant 350
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 150
push constant 100
push constant 150
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 350
push constant 100
push constant 350
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 350
push constant 150
push constant 250
push constant 200
call Screen.drawLine 4
pop temp 0
push constant 150
push constant 150
push constant 250
push constant 200
call Screen.drawLine 4
pop temp 0
push constant 50
push constant 125
push constant 10
add
push constant 230
push constant 125
push constant 10
add
call Screen.drawLine 4
pop temp 0
push constant 230
push constant 125
push constant 10
add
push constant 240
push constant 150
push constant 10
add
call Screen.drawLine 4
pop temp 0
push constant 240
push constant 150
push constant 10
add
push constant 260
push constant 100
push constant 10
add
call Screen.drawLine 4
pop temp 0
push constant 260
push constant 100
push constant 10
add
push constant 275
push constant 125
push constant 10
add
call Screen.drawLine 4
pop temp 0
push constant 275
push constant 125
push constant 10
add
push constant 450
push constant 125
push constant 10
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Gameset.drawPlayScreen 1
call Screen.clearScreen 0
pop temp 0
push constant 31
push constant 138
push constant 101
push constant 138
call Screen.drawLine 4
pop temp 0
push constant 31
push constant 138
push constant 31
push constant 250
call Screen.drawLine 4
pop temp 0
push constant 31
push constant 250
push constant 101
push constant 250
call Screen.drawLine 4
pop temp 0
push constant 101
push constant 138
push constant 101
push constant 250
call Screen.drawLine 4
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 71
lt
not
if-goto WHILE_END0
push constant 101
push local 0
sub
push constant 138
push constant 101
push constant 138
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 42
lt
not
if-goto WHILE_END1
push constant 31
push constant 138
push local 0
add
push constant 101
push constant 208
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push constant 71
lt
not
if-goto WHILE_END2
push constant 31
push constant 250
push local 0
sub
push constant 31
push local 0
add
push constant 250
call Screen.drawLine 4
pop temp 0
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 401
push constant 10
push constant 471
push constant 10
call Screen.drawLine 4
pop temp 0
push constant 471
push constant 10
push constant 471
push constant 122
call Screen.drawLine 4
pop temp 0
push constant 471
push constant 122
push constant 401
push constant 122
call Screen.drawLine 4
pop temp 0
push constant 401
push constant 122
push constant 401
push constant 10
call Screen.drawLine 4
pop temp 0
push constant 0
pop local 0
label WHILE_EXP3
push local 0
push constant 71
lt
not
if-goto WHILE_END3
push constant 471
push local 0
sub
push constant 10
push constant 471
push constant 10
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP3
label WHILE_END3
push constant 0
pop local 0
label WHILE_EXP4
push local 0
push constant 42
lt
not
if-goto WHILE_END4
push constant 401
push constant 10
push local 0
add
push constant 471
push constant 80
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP4
label WHILE_END4
push constant 0
pop local 0
label WHILE_EXP5
push local 0
push constant 71
lt
not
if-goto WHILE_END5
push constant 401
push constant 122
push local 0
sub
push constant 401
push local 0
add
push constant 122
call Screen.drawLine 4
pop temp 0
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP5
label WHILE_END5
push constant 215
push constant 74
push constant 285
push constant 74
call Screen.drawLine 4
pop temp 0
push constant 215
push constant 74
push constant 215
push constant 186
call Screen.drawLine 4
pop temp 0
push constant 215
push constant 186
push constant 285
push constant 186
call Screen.drawLine 4
pop temp 0
push constant 285
push constant 74
push constant 285
push constant 186
call Screen.drawLine 4
pop temp 0
push constant 250
push constant 0
push constant 250
push constant 74
call Screen.drawLine 4
pop temp 0
push constant 250
push constant 186
push constant 250
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Gameset.drawWinScreen 0
push constant 60
push constant 32
call Math.multiply 2
push constant 10
add
call DrawTool.drawW 1
pop temp 0
push constant 60
push constant 32
call Math.multiply 2
push constant 12
add
call DrawTool.drawI 1
pop temp 0
push constant 60
push constant 32
call Math.multiply 2
push constant 14
add
call DrawTool.drawN 1
pop temp 0
push constant 60
push constant 32
call Math.multiply 2
push constant 16
add
call DrawTool.drawN 1
pop temp 0
push constant 60
push constant 32
call Math.multiply 2
push constant 18
add
call DrawTool.drawE 1
pop temp 0
push constant 60
push constant 32
call Math.multiply 2
push constant 20
add
call DrawTool.drawR 1
pop temp 0
push constant 31
push constant 110
push constant 469
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 140
push constant 32
call Math.multiply 2
push constant 2
add
push constant 4
add
call DrawTool.drawP 1
pop temp 0
push constant 140
push constant 32
call Math.multiply 2
push constant 4
add
push constant 4
add
call DrawTool.drawL 1
pop temp 0
push constant 140
push constant 32
call Math.multiply 2
push constant 6
add
push constant 4
add
call DrawTool.drawA 1
pop temp 0
push constant 140
push constant 32
call Math.multiply 2
push constant 8
add
push constant 4
add
call DrawTool.drawY 1
pop temp 0
push constant 140
push constant 32
call Math.multiply 2
push constant 10
add
push constant 4
add
call DrawTool.drawE 1
pop temp 0
push constant 140
push constant 32
call Math.multiply 2
push constant 12
add
push constant 4
add
call DrawTool.drawR 1
pop temp 0
push argument 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 140
push constant 32
call Math.multiply 2
push constant 16
add
push constant 4
add
call DrawTool.drawO 1
pop temp 0
push constant 140
push constant 32
call Math.multiply 2
push constant 18
add
push constant 4
add
call DrawTool.drawN 1
pop temp 0
push constant 140
push constant 32
call Math.multiply 2
push constant 20
add
push constant 4
add
call DrawTool.drawE 1
pop temp 0
label IF_FALSE0
push argument 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 140
push constant 32
call Math.multiply 2
push constant 16
add
push constant 4
add
call DrawTool.drawT 1
pop temp 0
push constant 140
push constant 32
call Math.multiply 2
push constant 18
add
push constant 4
add
call DrawTool.drawW 1
pop temp 0
push constant 140
push constant 32
call Math.multiply 2
push constant 20
add
push constant 4
add
call DrawTool.drawO 1
pop temp 0
label IF_FALSE1
push constant 0
return
