function Main.main 15
call Keyboard.readChar 0
pop local 0
push local 0
call Tool.asciiCode 1
pop local 2
push local 2
call Random.setSeed 1
pop temp 0
push constant 49
pop local 2
call Gameset.new 0
pop local 12
push local 12
call Gameset.drawStartScreen 1
pop temp 0
label WHILE_EXP0
push local 2
push constant 32
eq
not
not
if-goto WHILE_END0
call Keyboard.readChar 0
pop local 0
push local 0
call Tool.asciiCode 1
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 12
call Gameset.drawPlayScreen 1
pop temp 0
push constant 1
pop local 9
push constant 1
pop local 7
push constant 0
pop local 8
push constant 26
pop local 4
push constant 26
pop local 5
push constant 1
pop local 1
label WHILE_EXP1
push local 8
push constant 0
eq
not
if-goto WHILE_END1
push local 4
push local 5
call Gameset.drawCount 2
pop temp 0
push constant 49
pop local 2
push local 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 14
label WHILE_EXP2
push local 14
push constant 0
eq
not
if-goto WHILE_END2
call Keyboard.readChar 0
pop local 0
push local 0
call Tool.asciiCode 1
pop local 2
push local 2
call Random.setSeed 1
pop temp 0
push local 2
push constant 65
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop local 14
label IF_FALSE1
push local 2
push constant 68
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop local 14
label IF_FALSE2
push local 2
push constant 74
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
pop local 14
label IF_FALSE3
push local 2
push constant 76
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 1
pop local 14
label IF_FALSE4
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 10
push local 2
push constant 65
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 12
push constant 1
call Gameset.movePile 2
pop temp 0
push local 12
call Gameset.shuffleAll 1
pop temp 0
push constant 1
pop local 9
push constant 1
pop local 7
call DrawCard.cleanCard 0
pop temp 0
push constant 1
pop local 10
label IF_FALSE5
push local 2
push constant 76
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 12
push constant 2
call Gameset.movePile 2
pop temp 0
push local 12
call Gameset.shuffleAll 1
pop temp 0
push constant 2
pop local 9
push constant 1
pop local 7
call DrawCard.cleanCard 0
pop temp 0
push constant 1
pop local 10
label IF_FALSE6
push local 10
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 9
push constant 1
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
label WHILE_EXP3
push local 2
push constant 68
eq
not
not
if-goto WHILE_END3
call Keyboard.readChar 0
pop local 0
push local 0
call Tool.asciiCode 1
pop local 2
goto WHILE_EXP3
label WHILE_END3
push local 12
push constant 1
call Gameset.removeTopCard 2
pop temp 0
push constant 2
pop local 9
goto IF_END8
label IF_FALSE8
label WHILE_EXP4
push local 2
push constant 74
eq
not
not
if-goto WHILE_END4
call Keyboard.readChar 0
pop local 0
push local 0
call Tool.asciiCode 1
pop local 2
goto WHILE_EXP4
label WHILE_END4
push local 12
push constant 2
call Gameset.removeTopCard 2
pop temp 0
push constant 1
pop local 9
label IF_END8
push local 12
call Gameset.getCommon 1
pop local 13
push local 13
call Pile.getback 1
pop local 3
call DrawCard.cleanCard 0
pop temp 0
push local 3
call DrawCard.draw 1
pop temp 0
push local 3
push constant 13
call Tool.mod 2
pop local 3
push local 3
push constant 0
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 13
pop local 3
label IF_FALSE9
push constant 49
pop local 2
push local 3
push local 7
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 2
pop local 1
goto IF_END10
label IF_FALSE10
push local 7
push constant 1
add
pop local 7
push local 7
push constant 13
gt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 7
push constant 13
sub
pop local 7
label IF_FALSE11
label IF_END10
label IF_FALSE7
push constant 0
call Screen.setColor 1
pop temp 0
push constant 15
push constant 15
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 512
push constant 15
sub
push constant 256
push constant 15
sub
push constant 10
call Screen.drawCircle 3
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
pop local 14
label WHILE_EXP5
push local 14
push constant 0
eq
not
if-goto WHILE_END5
call Keyboard.readChar 0
pop local 0
push local 0
call Tool.asciiCode 1
pop local 2
push local 2
call Random.setSeed 1
pop temp 0
push local 2
push constant 65
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 1
pop local 14
label IF_FALSE12
push local 2
push constant 68
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 1
pop local 14
label IF_FALSE13
push local 2
push constant 74
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push constant 1
pop local 14
label IF_FALSE14
push local 2
push constant 76
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push constant 1
pop local 14
label IF_FALSE15
goto WHILE_EXP5
label WHILE_END5
push local 2
push constant 65
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push local 12
push constant 2
call Gameset.movePile 2
pop temp 0
push local 12
call Gameset.shuffleAll 1
pop temp 0
push constant 2
pop local 9
label IF_FALSE16
push local 2
push constant 76
eq
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push local 12
push constant 1
call Gameset.movePile 2
pop temp 0
push local 12
call Gameset.shuffleAll 1
pop temp 0
push constant 1
pop local 9
label IF_FALSE17
push constant 1
pop local 7
push constant 1
pop local 1
push local 2
push constant 68
eq
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push local 12
push constant 1
call Gameset.movePile 2
pop temp 0
push local 12
call Gameset.shuffleAll 1
pop temp 0
push constant 1
pop local 9
label IF_FALSE18
push local 2
push constant 74
eq
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push local 12
push constant 2
call Gameset.movePile 2
pop temp 0
push local 12
call Gameset.shuffleAll 1
pop temp 0
push constant 2
pop local 9
label IF_FALSE19
call DrawCard.cleanCard 0
pop temp 0
label IF_END0
push local 12
call Gameset.getPile1 1
pop local 13
push local 13
call Pile.getSZ 1
pop local 4
push local 12
call Gameset.getPile2 1
pop local 13
push local 13
call Pile.getSZ 1
pop local 5
push local 4
push constant 0
eq
push local 5
or
push constant 0
eq
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push constant 1
pop local 8
label IF_FALSE20
push local 9
push constant 1
eq
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 15
push constant 15
push constant 10
call Screen.drawCircle 3
pop temp 0
goto IF_END21
label IF_FALSE21
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 512
push constant 15
sub
push constant 256
push constant 15
sub
push constant 10
call Screen.drawCircle 3
pop temp 0
label IF_END21
goto WHILE_EXP1
label WHILE_END1
push local 4
push constant 0
eq
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push constant 1
pop local 11
label IF_FALSE22
push local 5
push constant 0
eq
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push constant 2
pop local 11
label IF_FALSE23
push constant 5000
call sys.wait 1
pop temp 0
push constant 0
return
