function Pile.New 0
push constant 7
call Memory.alloc 1
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push this 0
push constant 52
call Array.new 2
pop temp 0
push constant 0
pop this 1
push pointer 0
return
function Pile.add_card 0
push argument 0
pop pointer 0
push this 1
push this 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
add
pop this 1
push constant 0
return
function Pile.remove_card 0
push argument 0
pop pointer 0
push this 1
push constant 1
sub
pop this 1
push this 1
push this 0
add
pop pointer 1
push that 0
pop this 2
push this 2
return
function Pile.move_pile 0
push argument 0
pop pointer 0
push constant 0
return
function Pile.shuffle_pile 0
push argument 0
pop pointer 0
call Random.rand 0
pop this 3
push this 3
push this 1
call Tool.mod 2
pop this 3
label WHILE_EXP0
push this 3
push constant 0
gt
not
if-goto WHILE_END0
push this 3
push constant 1
sub
pop this 3
call Random.rand 0
pop this 4
push this 4
push this 1
call Tool.mod 2
pop this 4
call Random.rand 0
pop this 5
push this 5
push this 1
call Tool.mod 2
pop this 5
push this 4
push this 0
add
pop pointer 1
push that 0
pop this 6
push this 4
push this 0
add
push this 5
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push this 0
add
push this 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
